 @charset "utf-8";
/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Roboto);
/* @import url(http://fonts.googleapis.com/css?family=Pathway+Gothic+One); */

* {
  font-family: 'Roboto', sans-serif;
}

code {
  border: 1px solid #eee;
  border-radius: 5px;
  background-color: rgba(245, 245, 245, 0.7) !important;
  text-align: left;
}

body {
  background: url('../img/background1.jpg');
  background-repeat: repeat;
}

.well {
  padding: 25px;
  background-color: rgba(245, 245, 245, 0.7);
  border-radius: 5px;
}

.well p {
  font-size:
}

.btn-group-justified {
  margin: 0 auto;
}

.container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.slotMachine .slot{
  height:200px;
  background-position: 55% center;
  background-repeat: no-repeat;
}

.slot0 {
  background-image: url("../img/0.png");
}

.slot1 {
  background-image: url("../img/1.png");
}

.slot2 {
  background-image: url("../img/2.png");
}

.slot3 {
  background-image: url("../img/3.png");
}

.slot4 {
  background-image: url("../img/4.png");
}

.slot5 {
  background-image: url("../img/5.png");
}

.slot6 {
  background-image: url("../img/6.png");
}

.slot7 {
  background-image: url("../img/7.png");
}

.slot8 {
  background-image: url("../img/8.png");
}

.slot9 {
  background-image: url("../img/9.png");
}

#title1 {
  margin-top: 45px;
  width: 100%;
  height: 140px;
  background-image: url("../img/title1.png");
  background-repeat: no-repeat;
  background-position: center center;
}

#title2 {
  width: 100%;
  height: 140px;
  background-image: url("../img/title2.png");
  background-repeat: no-repeat;
  background-position: center center;
}

/*
 * Casino
 */
#casino {
  /* border-top: 50px;
  border-bottom: 10px; */
}

#casino .content:nth-child(1) {
  margin-top: -150px;
  text-align: center;
  background: url('../img/machine3.png') no-repeat;
  background-position-x: calc(50% + 30px);
  min-height: 580px;
}

#casino .content > div {
  padding-top: 293px;
  width: 800px;
  margin: 0 auto;
  transform: translateX(30px);
}

.machineContainer{
  padding: 1px 1px 5px 1px;
  height: 135px;
}

.slotMachine{
  width: 151px;
  border: 5px solid #CF5178;
  height: 200px;
  display: inline-block;
  background-color: white;
}

#casino .btn-group {
  margin-top: 150px;
  transform: translateX(-25px);
}

#casino .btn-group .btn {
  border: none;
  background-color: rgb(209, 79, 119);
}

#casino .btn-group .btn:hover, .btn-group .btn:focus {
  background-color: rgb(180, 75, 119);
}

.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}
